.live-container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        border: 1px solid #D0D0D0;
        justify-content: center;
        padding: 20px 0;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

.image-container{
     display: flex;
     width: auto;
     display: flex;
     justify-content:space-evenly;
}

.image-container img{
 width: auto;
height: auto;

}

.image-username-container{
      display: flex;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content:space-around;
  padding-top: 10px;
  padding-left: 5px;
}

.image-username-container P{
   font-family: Roboto;
font-size: 12px;
font-weight: 400;
} 

.image-username-container p:nth-child(4),.image-username-container p:nth-child(5),.image-username-container p:nth-child(6){
    color:rgb(168, 168, 168);
}