body{
background-color: rgba(78, 78, 78, 0.25);
}

.post-container{
    display: flex;
    margin: 10%;
    background-color: white;
    width: auto;
}

.comment-section{
    width: 100%;
}

.comment-header{
    height: auto;
    display: flex;
    height: 70px;
    padding: 0 10px;
      border-bottom: 1px solid var(--Border-Grey);
}

.img-user-box{
    display: flex;
    width: auto;
}

.username-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.username-section img{
    border-radius: 49%;
    -webkit-border-radius: 49%;
    -moz-border-radius: 49%;
    -ms-border-radius: 49%;
    -o-border-radius: 49%;
    width: 30px;
    height: 30px;
    margin-right: 6px;
    margin-top: 10px;
}

#image-under{
  position: absolute;
  top: 170px;
  left:40.7%;
  z-index: 2;
  border: 1px solid white;
}

#image-over{
    z-index: 1;
}

.info-box{
    display: flex;
    height: auto;
    flex-direction: column;
}

.info-box p{
    margin: 2px;
}

.info-box span{
    font-weight: 600;
}
.info-box p:last-child{
    font-size: 11px;
    font-weight: 400;
}

