@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}


:root{
  --White-Body: #ffffff;
  --Black-Text: #262626;
  --Grey-Text: #8E8E8E;
  --Blue-Hash:#00376B;
  --Border-Grey: #EFEFEF;
}


