.home-container{
    /* border: 2px solid red; */
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    position: relative;
}

.recommendation-section{
    position: absolute;
    /* border: 2px solid red; */
    width: 400px;
height: auto;
top: 20px;
right: 50px;
}

.timeline-section{
     position: absolute;
    /* border: 2px solid red; */
    width: 510px;
    height: 97vh;
    top: 20px;
    right: 540px;
}